<!-- 欢迎模块 -->
<div role="tabpanel" class="tab-pane active" id="welcome">
  <div class="check-div form-inline">
    <div class="col-xs-7">
      <label>Search:</label>
      <input type="text" class="form-control input-sm" placeholder="input...">
      <button class="btn btn-white btn-xs ">Search </button>
      <button class="btn btn-white btn-xs ">Reset </button>
    </div>
    <div class="col-lg-3 col-lg-offset-2 col-xs-4" style=" padding-right: 40px;text-align: right;">
      <label for="paixu">Order By:&nbsp;</label>
      <select id="paixu" class="form-control">
        <option>Time</option>
        <option>Size</option>
        <option>Name</option>
        <option>Category</option>
      </select>
    </div>
  </div>
  <div class="logoInfo">
    <div class="logoImg">
      <img src="../assets/images/logoinfo.png">
    </div>
    <div class="logoIntroduce">
      <p>IZhiJu is a tech-company providing the services required to manage IoT gateways and smart edge devices.</p>
      <p>ZhiJu provides a core integration framework and an initial set of core IoT services including a device registry, device management services, messaging services, data management, and application enablement.</p>
      <p></p>
      <p>To learn more about Zhiju please refer to our official website <a href="https://dev.izhiju.cn/publiccms" target="_blank">https://dev.izhiju.cn/publiccms</a>.</p>
    </div>
  </div>
</div>
