<div class="meun-title"><h6>Account</h6></div>

<div class="meun-item " [routerLink]="['/home/welcome']" aria-controls="welcome" role="tab" data-toggle="tab">
  <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;Welcome
</div>

<div class="meun-item" [routerLink]="['/home/device']" aria-controls="device" role="tab" data-toggle="tab">
  <i class="fa fa-television"></i>&nbsp;&nbsp;&nbsp;Devices
</div>

<div class="meun-item" [routerLink]="['/home/connection']"  aria-controls="connection" role="tab" data-toggle="tab">
  <i class="fa fa-plug"></i>&nbsp;&nbsp;&nbsp;Connections
</div>

<div class="meun-item" [routerLink]="['/home/data']" aria-controls="data" role="tab" data-toggle="tab">
  <i class="fa fa-database"></i>&nbsp;&nbsp;&nbsp;Data
</div>

<div class="meun-item" [routerLink]="['/home/user']" aria-controls="user" role="tab" data-toggle="tab">
  <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Users
</div>

<div class="meun-item" [routerLink]="['/home/role']" aria-controls="roles" role="tab" data-toggle="tab">
  <i class="fa fa-street-view"></i>&nbsp;&nbsp;&nbsp;Roles
</div>

<div class="meun-item" [routerLink]="['/home/group']" aria-controls="group" role="tab" data-toggle="tab">
  <i class="fa fa-group"></i>&nbsp;&nbsp;&nbsp;Groups
</div>

<div class="meun-item" [routerLink]="['/home/mqttclient']" aria-controls="mqttclient" role="tab" data-toggle="tab">
  <i class="fa fa-tablet"></i>&nbsp;&nbsp;&nbsp;MqttClient
</div>

<div class="meun-item" [routerLink]="['/home/setting']" aria-controls="setting" role="tab" data-toggle="tab">
  <i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Settings
</div>

<div class="meun-title"><h6>Cloud</h6></div>
<div class="meun-item" [routerLink]="['/home/account']" aria-controls="account" role="tab" data-toggle="tab">
  <i class="fa fa-calculator"></i>&nbsp;&nbsp;&nbsp;Child Accounts</div>

